.cartHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.labels {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}

.labels h3 {
    margin: 0px 40px;
    font-size: 16px;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.list li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border-bottom: .5px solid #111;
}

.list li img {
    width: 50px;
    height: 50px;
}

.item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions p {
    font-weight: 700;
}

.actions button {
    background-color: transparent;
    margin: 0 5px;
    border: 1px solid #111;
}

.actions button:hover {
    cursor: pointer;
    transform: scale(0.96);
    transform: 0.2s ease;
    background-color: #111;
    color: #fff;
}